<section class="rounded mb-6 bg-white shadow-md">
  <div class="cursor-default relative">
    <img
      src="https://www.datocms-assets.com/37945/1606604816-logo-inverted.svg"
      class="w-full object-cover rounded bg-lightAccent"
      style="background: linear-gradient(0deg, #f90 0, #ff5200 50%, #e50914 100%);"
      alt="AGS1130 - Brand Logo"
    />
    <a
      href="{{ site.baseurl }}/"
      class="absolute overflow-hidden inset-0 w-full h-full transition ease-in-out duration-500 bg-white bg-opacity-0 hover:bg-opacity-10">
    </a>
  </div>
</section>
